<?xml version="1.0" ?>
<iTelescopeConfig>
    
    
    
    
    
    
    
    
    
    
	
    
    
    
    
    
    
    
    
    
    <location altitude="0" latitude="0.879296877155" longitude="-0.072605696883"/>
    
    
    
    
    
    
    
    
    
    
	
    
    
    
    
    
    
    
    
    
    <time string="2013-04-01-19-07-24" type="custom"/>
    
    
    
    
    
    
    
    
    
    










</iTelescopeConfig>

